* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}

#frontWheel {
  animation: frontWheely 1s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes frontWheely {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
